## Battle of the Neighborhoods - Capstone Project

This notebook will be used for Applied Data Science Capstone Project. 

Lets first load required libraries:

In [1]:
#importing Libraries
import requests
import lxml.html as lh
import bs4 as bs
import urllib.request
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

## Transforming the wikipedia data into a pandas dataframe

In [54]:
# Getting the data from url
# url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
# res = requests.get(url)
# soup = bs.BeautifulSoup(res.content,'lxml')
# table = soup.find_all('table')[0]
# df = pd.read_html(str(table))
# data = pd.read_json(df[0].to_json(orient='records'))
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(url)
df = df_list[0]

In [55]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [56]:
#Choosing only data where field Borough doesn't have not assigned value
df_updated = df[df['Borough'] != 'Not assigned']

In [57]:
#Grouping Data
df_updated = df_updated.groupby(['Postal Code','Borough'], as_index=False).agg(','.join)

In [58]:
df_updated.head(5)

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [59]:
#Replacing values in Neighbourhood field with Borough where Neighbourhood is not assigned
df_updated['Neighbourhood'] = np.where(df_updated['Neighbourhood'] == 'Not assigned', df_updated['Borough'], df_updated['Neighbourhood'])

In [60]:
#Shape of Data
df_updated.shape

(103, 3)


## Using the csv file containing geographical coordinates to create dataframe

.
<!--import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1] -->

In [61]:
# Getting the data from url
geospatial_url = "https://cocl.us/Geospatial_data"
geospatial_data = pd.read_csv(geospatial_url)

In [62]:
geospatial_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [63]:
#Merging dataframes
merged_data = pd.merge(df_updated, geospatial_data, on='Postal Code')
merged_data.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476